@import url(https://fonts.googleapis.com/css?family=Open+Sans);
header img{
	width: 100px;
}
header{
	background: #20A4F3;
}
header .logo{
	margin: 10px;
	    margin-left: 50px;
}
nav a{
	color:#fff;

}
.search{
	    float: right;
    top: 38px;
    position: relative;
    margin-right: 50px;
}
.login, .home{
	 float: right;
    top: 40px;
    position: relative;
    margin-right: 15px;
    color: #fff;
}
button {
        position: relative;
    padding: 3px 6px;
    top: 0px;
    left: -2px;
}

body{
	background: #F6F7F8;
  font-family: 'Open Sans', sans-serif;
}
#home-page .container h2{
	position: relative;
	top:20px;
}
.movie-list img{
	width: 100%;
	margin:10px 0;
	max-height: 310px;

}
.view-details{
	display: block;
	text-align: center;
}
form button, form a, form input{
	display: block;
	margin: 20px 0;
}
form{
	width: 350px;
	background: #FF3366;
	margin: auto;
	display: block;
	padding: 20px;
}
form button{
	    padding: 7px 15px;
	 margin-left:2px;
}
form input{
	width: 100%;
	padding: 5px;
}
form h2{
	top: initial;
	margin: initial;


}
select{
	margin-bottom: 20px;
	display: block;
}
textarea {
    display: block;
    width: 100%;

}
form a{
	color: #fff;
	text-decoration: underline;
	margin-bottom: 0;
	display: inline-block;
	    margin: 0 10px;
}
form a:hover{
	color:#fff;
}
footer{
	background:#011627;
	padding: 40px;
}
footer a{
	color:#fff;
	text-decoration: underline;
}
.row{
	margin-top:40px;
}
input[type=file] {
    margin-top:0;
        left: -6px;
    position: relative;
}



