form{
    background: rgb(0,64,93);
    width: 35%;
    margin: auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;

}
form h2{
    font-weight: 100;
}
fieldset{
    border: none;
}
input.submitBtn{
    display: block;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    background: rgb(211,55,35);
}
